{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1 class="display-4">User info </h1>

<div style="display: inline-block; margin-right: 10px;">
    <label for="username"><strong>Username:</strong> </label>
    <p id="username">{{user.username}}</p>
</div>
<div style="display: inline-block; margin-right: 10px;">
    <label for="first_name"><strong>First Name:</strong> </label>
    <p id="first_name">{{user.first_name}}</p>
</div>
<div style="display: inline-block; margin-right: 10px;">
    <label for="last_name"><strong>Last Name:</strong> </label>
    <p id="last_name">{{user.last_name}}</p>
</div>
<div style="display: inline-block; margin-right: 10px;">
    <label for="email"><strong>Email:</strong> </label>
    <p id="email">{{user.email}}</p>
</div>

<h2>User Feedback</h2>

{% for feedback in user.feedback %}

<li>
    {{feedback.title}}
    <small>{{feedback.content}}</small>
</li>

<form>
    <button formmethod="GET"
            formaction="/feedback/{{feedback.id}}/edit">
    Edit
    </button>

    <button formmethod="POST"
            formaction="/feedback/{{feedback.id}}/delete">
    Delete
    </button>
</form>
{% endfor%}

<div>
    <a href="/user/{{user.username}}/feedback/new"> Add Feedback</a>
</div>

<form action="/user/{{user.username}}/delete", method='POST'>
    <button>
        Delete your account
    </button>
</form>

{% endblock %}